<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/cdb5d19469.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <ul class="nav-list">
          <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Bookers", root_path %>
          </li>
          <li class="nav-item">
            <%= link_to user_path(current_user.id) do %>
              <i class="fas fa-home"></i> Home
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to users_path do %>
              <i class="fas fa-users"></i> Users
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to books_path do %>
              <i class="fas fa-book-open"></i> Books
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fas fa-sign-out-alt"></i> logout
            <% end %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Bookers", destroy_user_session_path, method: :delete %>
          </li>
          <li class="nav-item">
            <%= link_to root_path do %>
              <i class="fas fa-home"></i> Home
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to about_path do %>
              <i class="fas fa-link"></i> About
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path do %>
              <i class="fas fa-user-plus"></i> sign up
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path do %>
              <i class="fas fa-sign-in-alt"></i> login
            <% end %>
          </li>
          <% end %>
        </ul>
        <div class="social">
          <i class="fas fa-bars"></i>
        </div>
      </nav>
    </header>

    <main>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <% if user_signed_in? %>
              <%= form_with url:search_path, method: :get, local: true do |f| %>
                <%= f.text_field 'search[value]' %>
                <%= f.select 'search[model]', options_for_select({ "User" => "user", "Book" => "book" }) %>
                <%= f.select 'search[how]', options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"  }) %>
                <%= f.submit :"検索" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      
      <%= yield %>
    </main>

    <footer>CopyRight Infratop.inc</footer>

  </body>

</html>
